.navBar {
    position: relative;
    margin-bottom: -85px;
    z-index: 5;
}

#navBrand{
    font-family: "Times New Roman", sans-serif;
    color: rgb(206,187,7);
}

.navLink {
    text-decoration: none;
}

.mobile {
    margin-top: -60px;
}
