#landing {
    background-image: url("./images/LandingPic.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;

}

#AC-section{
    padding-top: 400px;
}

.landing-text{
    color: rgba(255,246,220,0.89);
    padding: 200px;
    align-items: center;
    justify-content: center;
}

