.main{
    background-color: rgba(46,152,228,0.19);
    background-size: cover;
}

ul{
    list-style-type: none;
}

#job-steps li.active em {
    background: #617482;
}

#job-steps li em{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: #ffffff;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 20px;
    text-align: -moz-center;
    background: #c1cbd1;
    border-radius: 40px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}