.filterInput {
    margin-top: 270px;
    z-index: 2;
}

.jobList {
    margin-top: -20px;
    z-index: 1;
    position: relative;
}

.jobCol {
    z-index: 1;
}

.jobHeader {
    background-image: url("images/working.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 395px;
    z-index: 0;
    padding: -5px;

}

.jobTitle {
    color: white;
    background-color: rgba(75,69,70,0.64);
    font-size: 30px;
    font-family: "Times New Roman", monospace;
    font-weight: bolder;
    margin-left: 200px;
    margin-top: 80px;
    text-shadow: white;
    box-shadow: white;
}

.searchInput {
    margin-bottom: -400px;
}
